<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>verify-u API documentation</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </head>

  <body>
    <div class="header-wrapper">
      <nav class="container header">
        <a class="header__brand" href="/">
          <img class="w-24" src="/img/verify_logo.png">
          <span class="mx-2 font-bold text-gray-700">DOCUMENTATION</span>
        </a>
        
        <a class="ml-4 font-semibold text-blue-600 hover:text-blue-700" href="/reference">
          API Reference
        </a>
      </nav>
    </div>

    <div class="container mx-auto">
      <main role="main" class="mt-flex">
        <div class="flex">
          <div class="pt-2 pb-32 sidenav">
            <section class="mt-16 sidenav__group">
              <a class="sidenav__link" href="/">
                Introduction
              </a>
            </section>

            <div class="sidenav__subheader">General</div>

            <section class="sidenav__group">

              <a class="sidenav__link" href="/getting-started">
                Getting started
              </a>

              <a class="sidenav__link" href="/authorization">
                Authorization
              </a>
            </section>

            <div class="sidenav__subheader">Oauth</div>

            <ul class="list-group">

              <a class="sidenav__link" href="/channels">
                Channels
              </a>

              <a class="sidenav__link" href="/scopes">
                Scopes
              </a>

              <a class="sidenav__link" href="/customer-data">
                Customer data
              </a>

              <a class="sidenav__link" href="/errors">
                Errors
              </a>

            <div class="sidenav__subheader">API</div>

            <a class="sidenav__link" href="/authentication">
              Authentication
            </a>

            <a class="sidenav__link" href="/request">
              Request
            </a>            

            <a class="sidenav__link" href="/http-status-codes">
              HTTP Status Codes
            </a>

            <section class="list-group">
              <a class="sidenav__link" href="/identifications_list">
                Identifications List
              </a>

              <a class="sidenav__link" href="/identifications">
                Single Identification
              </a>

              <a class="sidenav__link" href="/id-documents">
                ID Documents
              </a>

              <a class="sidenav__link" href="/liveness-videos">
                Liveness videos
              </a>

              <a class="sidenav__link" href="/esigns">
                E-signatures
              </a>

              <a class="sidenav__link" href="/documents">
                Documents
              </a>
            </section>

          </div>

          <div class="mt-12">
            <div class="flex content__view">
              <div class="w-3/4 content__view-main">
                <%= render @view_module, @view_template, assigns %>
              </div>
              <div id="content-nav" class="w-1/4 pl-16 content__view-nav">
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    
    <script>require("lib/web/layout/layout.js").default()</script>

  </body>
</html>
