<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>verify-u API documentation</title>
  <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>' />
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
</head>

<body>
  <div class="header-wrapper">
    <nav class="container header">
      <a class="header__brand" href="/">
        <img class="w-24 h-6" src="/img/verify_logo.png">
        <span class="mx-2 font-bold text-gray-700">DOCUMENTATION</span>
      </a>

      <a class="ml-4 font-semibold text-blue-600 hover:text-blue-700" href="/api-reference">
        API Reference
      </a>
    </nav>
  </div>

  <div class="container mx-auto">
    <main role="main" class="mt-flex">
      <div class="flex">
        <div class="pt-2 pb-32 sidenav">
          <section class="mt-16 sidenav__group">
            <a class="sidenav__link" href="/">
              Introduction
            </a>
          </section>

          <div class="sidenav__subheader">General</div>

          <section class="sidenav__group">

            <a class="sidenav__link" href="/getting-started">
              Getting started
            </a>

            <a class="sidenav__link" href="/esign">
              Electronic signature
            </a>

            <a class="sidenav__link" href="/giropay">
              Giropay
            </a>
          </section>

          <div class="sidenav__subheader">Oauth</div>

          <ul class="list-group">

            <a class="sidenav__link" href="/authorization">
              Authorization
            </a>

            <a class="sidenav__link" href="/client-data">
              Client data
            </a>

            <a class="sidenav__link" href="/identification-channels">
              Identification channels
            </a>

            <a class="sidenav__link" href="/errors">
              Errors
            </a>

            <div class="sidenav__subheader">API</div>

            <a class="sidenav__link" href="/api-introduction">
              Introduction
            </a>

            <a class="sidenav__link" href="/authentication">
              Authentication
            </a>

            <a class="sidenav__link" href="/http-status-codes">
              HTTP Status Codes
            </a>

        </div>

        <div class="mt-16">
          <div class="flex content__view">
            <div class="w-full px-6 mx-0 mx-auto mb-6 ml-0 mr-auto content__view-main markdown-body">
              <%= render @view_module, @view_template, assigns %>
            </div>
            <div id="content-nav" class="ml-8 content__view-nav">
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <span class="text-gray-500" id="version">
    v <%= Application.spec(:server, :vsn) %>
  </span>
  <script>require("lib/web/layout/layout.js").default()</script>

</body>

</html>
