openapi: 3.0.2
info:
  description: |
    # Introduction
    This API is documented in **OpenAPI 3.0 format**.

    This API allowst the following operations:
    * retrieve a list of the last 10 identifications
    * retrieve profile data of a client's identification
    * download media captured during identification
    * upload documents for signing
    * download signed documents
    * receive webhooks notifications regarding identification state changes

    # Basics
    * API calls have to be secured with HTTPS.
    * All data has to be submitted UTF-8 encoded.
    * The reply is sent JSON encoded.

    # Authentication
    **verify-u** API uses Basic Authentication with secret key as username only.

    Detailed information is provided at [Authentication](authentication)
  version: 1.0.0
  title: verify-u API
tags:
  - name: identifications
    description: Methods to retrieve identification details

security:
  - basicAuth: []
servers:
  - url: https://app.verify-u.com/api
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
paths:
  /identifications:
    $ref: paths/identification_list.yaml
  /identifications/{id}:
    $ref: paths/identification.yaml
  /identifications/id-document/{document_id}:
    $ref: paths/identifications_id_document_id.yaml
  /identifications/audit-document/{document_id}:
    $ref: paths/identifications_audit_document_id.yaml
  /identifications/video/{id}:
    $ref: paths/identifications_video_id.yaml
  /identifications/e-sign/{document_id}:
    $ref: paths/identifications_esign_id.yaml
  /identifications/schufa/{id}:
    $ref: paths/identifications_schufa_id.yaml
  /documents:
    $ref: paths/documents.yaml
  /queue:
    $ref: paths/queue.yaml  
  /schufa:
    $ref: paths/schufa.yaml
x-webhooks:
  identification-event:
    post:
      summary: Identification updates
      operationId: identification-event
      description: |
        Updates to the state of identification during customer journey will be sent to your [webhook endpoint](https://docs.verify-u.com/webhooks).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./definitions/identification_event.yaml
      responses:
        "200":
          description: |
            Your server must return OK HTTP response if it accepts the webhook request. Any other response will trigger
            multiple subsequent retries until receipt of a successful response.
