{
  "openapi": "3.0.2",
  "info": {
    "description": "# Introduction\nThis API is documented in **OpenAPI 3.0 format**.\n\nThis API allowst the following operations:\n* retrieve a list of the last 10 identifications\n* retrieve profile data of a client's identification\n* download media captured during identification\n* upload documents for signing\n* download signed documents\n* receive webhooks notifications regarding identification state changes\n\n# Basics\n* API calls have to be secured with HTTPS.\n* All data has to be submitted UTF-8 encoded.\n* The reply is sent JSON encoded.\n\n# Authentication\n**verify-u** API uses Basic Authentication with secret key as username only.\n\nDetailed information is provided at [Authentication](authentication)\n",
    "version": "1.0.0",
    "title": "verify-u API"
  },
  "tags": [
    {
      "name": "identifications",
      "description": "Methods to retrieve identification details"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://app.verify-u.com/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "paths": {
    "/identifications": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications",
        "description": "Returns the latest identifications as a list. Most recent identifications appear first. Customize your query with the following parameters.",
        "operationId": "getIdentificationsList",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Limits the number of identifications to be returned. Limit can range between 1 and 100, and the default is 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Specifies the page number of the identifications to be returned. Default is 0.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "When set, only identifications of this status are returned. Default is `init`.\n  * `init` - Identification has been initially started\n  * `id_verified` - Id document check completed\n  * `f2f_verified` - Face-to-face check completed\n  * `face_detected` - Face check completed\n  * `liveness_detected` - Liveness check completed\n  * `schufa_ident_verified` - Schufa ident check completed\n  * `schufa_bank_verified` - Schufa bank check completed\n  * `esign_verified` - E-sign document signed\n  * `complete` - Identification has been completed successfully\n",
            "schema": {
              "type": "string",
              "enum": [
                "init",
                "id_verified",
                "f2f_verified",
                "face_detected",
                "liveness_detected",
                "schufa_ident_verified",
                "schufa_bank_verified",
                "esign_verified",
                "complete"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "nullable": true,
                        "description": "The client's address in format provided by ID document",
                        "example": "40 Mill Road, NEWPORT, NP14 0CV"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Time at which the object was created in notation as defined by RFC 3339, section 5.6",
                        "example": "202017-07-21T17:32:28Z"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "nullable": true,
                        "description": "The client's date of birth as represented in MRZ of ID document",
                        "example": "03.05.1976"
                      },
                      "first_name": {
                        "type": "string",
                        "nullable": true,
                        "description": "The client's first name",
                        "example": "John"
                      },
                      "gender": {
                        "type": "string",
                        "nullable": true,
                        "description": "The client's gender",
                        "example": "M"
                      },
                      "id": {
                        "type": "string",
                        "nullable": true,
                        "format": "uuid",
                        "description": "Identification Id",
                        "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                      },
                      "id_document": {
                        "type": "object",
                        "nullable": true,
                        "description": "Front side of the ID document",
                        "properties": {
                          "country": {
                            "type": "string",
                            "nullable": true,
                            "description": "Country which issued this ID document",
                            "example": "UK"
                          },
                          "document_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "Type of this ID document",
                            "example": "ID_CARD"
                          },
                          "expiration_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "description": "Date at which this ID document expires",
                            "example": "30.05.2028"
                          },
                          "id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid",
                            "description": "ID of this ID document",
                            "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                          },
                          "issue_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "description": "Date at which this ID document was issued",
                            "example": "30.05.2018"
                          },
                          "mrz": {
                            "type": "string",
                            "nullable": true,
                            "description": "The 'machine-readable zone' entry of this ID document",
                            "example": "P<GBRDOE<<JOHN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<9138625549GBR4503093M1601013<<<<<<<<<<<<<<00"
                          },
                          "number": {
                            "type": "string",
                            "nullable": true,
                            "description": "The number of this ID document",
                            "example": "C1544JKK40"
                          },
                          "issuer": {
                            "type": "string",
                            "nullable": true,
                            "description": "MRZ Issuing country or organization(ISO 3166-1 alpha-3 code with modifications)",
                            "example": "GB"
                          },
                          "nationality": {
                            "type": "string",
                            "nullable": true,
                            "description": "MRZ nationality (ISO 3166-1 alpha-3 code with modifications)"
                          }
                        }
                      },
                      "id_document_back": {
                        "type": "object",
                        "nullable": true,
                        "description": "Back side of the ID document",
                        "properties": {
                          "country": {
                            "type": "string",
                            "nullable": true,
                            "description": "Country which issued this ID document",
                            "example": "UK"
                          },
                          "document_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "Type of this ID document",
                            "example": "ID_CARD"
                          },
                          "expiration_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "description": "Date at which this ID document expires",
                            "example": "30.05.2028"
                          },
                          "id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid",
                            "description": "ID of this ID document",
                            "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                          },
                          "issue_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "description": "Date at which this ID document was issued",
                            "example": "30.05.2018"
                          },
                          "mrz": {
                            "type": "string",
                            "nullable": true,
                            "description": "The 'machine-readable zone' entry of this ID document",
                            "example": "P<GBRDOE<<JOHN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<9138625549GBR4503093M1601013<<<<<<<<<<<<<<00"
                          },
                          "number": {
                            "type": "string",
                            "nullable": true,
                            "description": "The number of this ID document",
                            "example": "C1544JKK40"
                          },
                          "issuer": {
                            "type": "string",
                            "nullable": true,
                            "description": "MRZ Issuing country or organization(ISO 3166-1 alpha-3 code with modifications)",
                            "example": "GB"
                          },
                          "nationality": {
                            "type": "string",
                            "nullable": true,
                            "description": "MRZ nationality (ISO 3166-1 alpha-3 code with modifications)"
                          }
                        }
                      },
                      "id_document_secondary": {
                        "type": "object",
                        "nullable": true,
                        "description": "Support document to the primary ID document",
                        "properties": {
                          "country": {
                            "type": "string",
                            "nullable": true,
                            "description": "Country which issued this ID document",
                            "example": "UK"
                          },
                          "document_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "Type of this ID document",
                            "example": "ID_CARD"
                          },
                          "expiration_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "description": "Date at which this ID document expires",
                            "example": "30.05.2028"
                          },
                          "id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid",
                            "description": "ID of this ID document",
                            "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                          },
                          "issue_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "description": "Date at which this ID document was issued",
                            "example": "30.05.2018"
                          },
                          "mrz": {
                            "type": "string",
                            "nullable": true,
                            "description": "The 'machine-readable zone' entry of this ID document",
                            "example": "P<GBRDOE<<JOHN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<9138625549GBR4503093M1601013<<<<<<<<<<<<<<00"
                          },
                          "number": {
                            "type": "string",
                            "nullable": true,
                            "description": "The number of this ID document",
                            "example": "C1544JKK40"
                          },
                          "issuer": {
                            "type": "string",
                            "nullable": true,
                            "description": "MRZ Issuing country or organization(ISO 3166-1 alpha-3 code with modifications)",
                            "example": "GB"
                          },
                          "nationality": {
                            "type": "string",
                            "nullable": true,
                            "description": "MRZ nationality (ISO 3166-1 alpha-3 code with modifications)"
                          }
                        }
                      },
                      "last_name": {
                        "type": "string",
                        "nullable": true,
                        "description": "The client's last name",
                        "example": "Doe"
                      },
                      "primary_id_document_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "Number of the primary ID document",
                        "example": "ABC123456"
                      },
                      "rejected": {
                        "type": "boolean",
                        "description": "Indicates whether identification has been rejected"
                      },
                      "rejection_cause": {
                        "type": "string",
                        "description": "Identification rejection cause",
                        "nullable": true,
                        "example": "DOCUMENT_MISSING"
                      },
                      "state": {
                        "type": "string",
                        "description": "OAuth parameter in format `[CLIENT_REFERENCE_ID]:[SESSION_ID]` supplied to identification gateway",
                        "example": "demo_client@demo.com:3a837788-6d72-40ce-818c-d92cc6c9b3d8"
                      },
                      "status": {
                        "type": "string",
                        "description": "Identification status",
                        "example": "COMPLETE"
                      },
                      "audit_documents": {
                        "type": "array",
                        "nullable": true,
                        "description": "Audit documents",
                        "items": {
                          "type": "object",
                          "properties": {
                            "document_type": {
                              "type": "string",
                              "nullable": true,
                              "description": "Type of this audit document",
                              "example": "FACE"
                            },
                            "id": {
                              "type": "string",
                              "nullable": true,
                              "format": "uuid",
                              "description": "ID of this audit document",
                              "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identifications/{id}": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications/{id}",
        "description": "Returns details of a single identification.",
        "operationId": "getIdentificationById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the requested identification",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "nullable": true,
                      "description": "The client's address in format provided by ID document",
                      "example": "40 Mill Road, NEWPORT, NP14 0CV"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time at which the object was created in notation as defined by RFC 3339, section 5.6",
                      "example": "202017-07-21T17:32:28Z"
                    },
                    "date_of_birth": {
                      "type": "string",
                      "nullable": true,
                      "description": "The client's date of birth as represented in MRZ of ID document",
                      "example": "03.05.1976"
                    },
                    "first_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "The client's first name",
                      "example": "John"
                    },
                    "gender": {
                      "type": "string",
                      "nullable": true,
                      "description": "The client's gender",
                      "example": "M"
                    },
                    "id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid",
                      "description": "Identification Id",
                      "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                    },
                    "id_document": {
                      "type": "object",
                      "nullable": true,
                      "description": "Front side of the ID document",
                      "properties": {
                        "country": {
                          "type": "string",
                          "nullable": true,
                          "description": "Country which issued this ID document",
                          "example": "UK"
                        },
                        "document_type": {
                          "type": "string",
                          "nullable": true,
                          "description": "Type of this ID document",
                          "example": "ID_CARD"
                        },
                        "expiration_date": {
                          "type": "string",
                          "nullable": true,
                          "format": "date",
                          "description": "Date at which this ID document expires",
                          "example": "30.05.2028"
                        },
                        "id": {
                          "type": "string",
                          "nullable": true,
                          "format": "uuid",
                          "description": "ID of this ID document",
                          "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                        },
                        "issue_date": {
                          "type": "string",
                          "nullable": true,
                          "format": "date",
                          "description": "Date at which this ID document was issued",
                          "example": "30.05.2018"
                        },
                        "mrz": {
                          "type": "string",
                          "nullable": true,
                          "description": "The 'machine-readable zone' entry of this ID document",
                          "example": "P<GBRDOE<<JOHN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<9138625549GBR4503093M1601013<<<<<<<<<<<<<<00"
                        },
                        "number": {
                          "type": "string",
                          "nullable": true,
                          "description": "The number of this ID document",
                          "example": "C1544JKK40"
                        },
                        "issuer": {
                          "type": "string",
                          "nullable": true,
                          "description": "MRZ Issuing country or organization(ISO 3166-1 alpha-3 code with modifications)",
                          "example": "GB"
                        },
                        "nationality": {
                          "type": "string",
                          "nullable": true,
                          "description": "MRZ nationality (ISO 3166-1 alpha-3 code with modifications)"
                        }
                      }
                    },
                    "id_document_back": {
                      "type": "object",
                      "nullable": true,
                      "description": "Back side of the ID document",
                      "properties": {
                        "country": {
                          "type": "string",
                          "nullable": true,
                          "description": "Country which issued this ID document",
                          "example": "UK"
                        },
                        "document_type": {
                          "type": "string",
                          "nullable": true,
                          "description": "Type of this ID document",
                          "example": "ID_CARD"
                        },
                        "expiration_date": {
                          "type": "string",
                          "nullable": true,
                          "format": "date",
                          "description": "Date at which this ID document expires",
                          "example": "30.05.2028"
                        },
                        "id": {
                          "type": "string",
                          "nullable": true,
                          "format": "uuid",
                          "description": "ID of this ID document",
                          "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                        },
                        "issue_date": {
                          "type": "string",
                          "nullable": true,
                          "format": "date",
                          "description": "Date at which this ID document was issued",
                          "example": "30.05.2018"
                        },
                        "mrz": {
                          "type": "string",
                          "nullable": true,
                          "description": "The 'machine-readable zone' entry of this ID document",
                          "example": "P<GBRDOE<<JOHN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<9138625549GBR4503093M1601013<<<<<<<<<<<<<<00"
                        },
                        "number": {
                          "type": "string",
                          "nullable": true,
                          "description": "The number of this ID document",
                          "example": "C1544JKK40"
                        },
                        "issuer": {
                          "type": "string",
                          "nullable": true,
                          "description": "MRZ Issuing country or organization(ISO 3166-1 alpha-3 code with modifications)",
                          "example": "GB"
                        },
                        "nationality": {
                          "type": "string",
                          "nullable": true,
                          "description": "MRZ nationality (ISO 3166-1 alpha-3 code with modifications)"
                        }
                      }
                    },
                    "id_document_secondary": {
                      "type": "object",
                      "nullable": true,
                      "description": "Support document to the primary ID document",
                      "properties": {
                        "country": {
                          "type": "string",
                          "nullable": true,
                          "description": "Country which issued this ID document",
                          "example": "UK"
                        },
                        "document_type": {
                          "type": "string",
                          "nullable": true,
                          "description": "Type of this ID document",
                          "example": "ID_CARD"
                        },
                        "expiration_date": {
                          "type": "string",
                          "nullable": true,
                          "format": "date",
                          "description": "Date at which this ID document expires",
                          "example": "30.05.2028"
                        },
                        "id": {
                          "type": "string",
                          "nullable": true,
                          "format": "uuid",
                          "description": "ID of this ID document",
                          "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                        },
                        "issue_date": {
                          "type": "string",
                          "nullable": true,
                          "format": "date",
                          "description": "Date at which this ID document was issued",
                          "example": "30.05.2018"
                        },
                        "mrz": {
                          "type": "string",
                          "nullable": true,
                          "description": "The 'machine-readable zone' entry of this ID document",
                          "example": "P<GBRDOE<<JOHN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<9138625549GBR4503093M1601013<<<<<<<<<<<<<<00"
                        },
                        "number": {
                          "type": "string",
                          "nullable": true,
                          "description": "The number of this ID document",
                          "example": "C1544JKK40"
                        },
                        "issuer": {
                          "type": "string",
                          "nullable": true,
                          "description": "MRZ Issuing country or organization(ISO 3166-1 alpha-3 code with modifications)",
                          "example": "GB"
                        },
                        "nationality": {
                          "type": "string",
                          "nullable": true,
                          "description": "MRZ nationality (ISO 3166-1 alpha-3 code with modifications)"
                        }
                      }
                    },
                    "last_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "The client's last name",
                      "example": "Doe"
                    },
                    "primary_id_document_number": {
                      "type": "string",
                      "nullable": true,
                      "description": "Number of the primary ID document",
                      "example": "ABC123456"
                    },
                    "rejected": {
                      "type": "boolean",
                      "description": "Indicates whether identification has been rejected"
                    },
                    "rejection_cause": {
                      "type": "string",
                      "description": "Identification rejection cause",
                      "nullable": true,
                      "example": "DOCUMENT_MISSING"
                    },
                    "state": {
                      "type": "string",
                      "description": "OAuth parameter in format `[CLIENT_REFERENCE_ID]:[SESSION_ID]` supplied to identification gateway",
                      "example": "demo_client@demo.com:3a837788-6d72-40ce-818c-d92cc6c9b3d8"
                    },
                    "status": {
                      "type": "string",
                      "description": "Identification status",
                      "example": "COMPLETE"
                    },
                    "audit_documents": {
                      "type": "array",
                      "nullable": true,
                      "description": "Audit documents",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "Type of this audit document",
                            "example": "FACE"
                          },
                          "id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid",
                            "description": "ID of this audit document",
                            "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/identifications/id-document/{document_id}": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications/id-document/{document_id}",
        "description": "Returns the client's id document image used for identification.",
        "operationId": "getIdentificationDocumentById",
        "parameters": [
          {
            "in": "path",
            "name": "document_id",
            "required": true,
            "description": "ID of the id-document",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ID document image in JPG format",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/identifications/audit-document/{document_id}": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications/audit-document/{document_id}",
        "description": "Returns the client's audit document image created during identification.",
        "operationId": "getAuditDocumentById",
        "parameters": [
          {
            "in": "path",
            "name": "document_id",
            "required": true,
            "description": "ID of the audit-document",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit document image in JPG format",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/identifications/video/{id}": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications/video/{id}",
        "description": "Returns the client's liveness video recording used for identification.",
        "operationId": "getIdentificationVideoById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the identification",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "video in WEBM format",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/identifications/esign/{id}": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications/e-sign/{id}",
        "description": "Returns the client's contract document, signed by the customer with digital signature.",
        "operationId": "getEsignById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the identification",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed contract document in PDF format",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/identifications/schufa/{id}": {
      "get": {
        "tags": [
          "identifications"
        ],
        "summary": "identifications/schufa/{id}",
        "description": "Returns the client's Schufa result.",
        "operationId": "getSchufaById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the identification",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time at which the object was created in notation as defined by RFC 3339, section 5.6",
                      "example": "202017-07-21T17:32:28Z"
                    },
                    "identification_id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid",
                      "description": "Identification Id",
                      "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                    },
                    "method": {
                      "type": "string",
                      "nullable": true,
                      "description": "Executed Schufa method",
                      "example": "IDENTCHECK"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "Reference ID of the Schufa call",
                      "nullable": true,
                      "example": "7073df04171678a505e6142916"
                    },
                    "state": {
                      "type": "string",
                      "description": "Schufa result",
                      "example": "ACCEPTED"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/documents": {
      "post": {
        "tags": [
          "documents"
        ],
        "summary": "documents",
        "description": "Transfers a contract document PDF to be signed by the client.\n\n Store the returned `document_id` and append it to the identification request for the corresponding client.",
        "operationId": "createDocument",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "document id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid",
                  "example": "f415d97b-3fc2-4d45-b314-cce4d126b98d"
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "data": "wrong file type"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/queue": {
      "get": {
        "tags": [
          "queue"
        ],
        "summary": "queue",
        "description": "Returns the state of the primary queue for F2F identification",
        "operationId": "getQueue",
        "responses": {
          "200": {
            "description": "Queue state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_count": {
                      "type": "number",
                      "description": "Number of agent currently serving F2F queue"
                    },
                    "customer_count": {
                      "type": "number",
                      "description": "Number of customers currently standing in F2F queue"
                    },
                    "expected_wait_period": {
                      "type": "string",
                      "description": "Expected wait period in 'MM:SS' format",
                      "example": "06:30"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/schufa": {
      "post": {
        "tags": [
          "schufa"
        ],
        "summary": "schufa/{id}",
        "description": "Creates a Schufa call for a client.",
        "operationId": "createSchufaById",
        "parameters": [
          {
            "in": "path",
            "name": "body",
            "description": "Address data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string",
                  "description": "Schufa check method",
                  "enum": [
                    "identcheck",
                    "bankcheck"
                  ]
                },
                "house_number": {
                  "type": "string",
                  "description": "House number"
                },
                "street": {
                  "type": "string",
                  "description": "Street"
                },
                "postal_code": {
                  "type": "string",
                  "description": "Postal code"
                },
                "city": {
                  "type": "string",
                  "description": "City"
                },
                "iban": {
                  "type": "string",
                  "nullable": true,
                  "description": "Bank account IBAN"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identification_id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid",
                      "description": "Identification Id",
                      "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                    },
                    "state": {
                      "type": "string",
                      "nullable": true,
                      "description": "Schufa result for client",
                      "example": "ACCEPTED"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "identification_id": "not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error"
          }
        }
      }
    }
  },
  "x-webhooks": {
    "identification-event": {
      "post": {
        "summary": "Identification updates",
        "operationId": "identification-event",
        "description": "Updates to the state of identification during customer journey will be sent to your [webhook endpoint](https://docs.verify-u.com/webhooks).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Identification Id",
                    "example": "c4d49f29-d351-416b-b261-6b42c46081fb"
                  },
                  "client_reference_id": {
                    "type": "string",
                    "description": "Client reference id extracted from OAuth `state` parameter when the latter is in format `[CLIENT_REFERENCE_ID]:[SESSION_ID]`. If no `SESSION_ID` separator is used, the entire `state` parameter is returned.",
                    "example": "demo_client@demo.com"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Session id extracted from OAuth `state` parameter when the latter is in format `[CLIENT_REFERENCE_ID]:[SESSION_ID]`",
                    "nullable": true,
                    "example": "3a837788-6d72-40ce-818c-d92cc6c9b3d8"
                  },
                  "status": {
                    "type": "string",
                    "description": "Identification status",
                    "enum": [
                      "INIT",
                      "REJECTED",
                      "ABANDONED",
                      "COMPLETE",
                      "ID_DOCUMENT_FRONT_UPLOADED",
                      "ID_DOCUMENT_FRONT_REJECTED",
                      "ID_DOCUMENT_BACK_UPLOADED",
                      "ID_DOCUMENT_BACK_REJECTED",
                      "ID_DOCUMENT_UPLOADED",
                      "ID_DOCUMENT_REJECTED",
                      "LIVENESS_DETECTED",
                      "LIVENESS_REJECTED",
                      "FACE_DETECTED",
                      "FACE_REJECTED",
                      "BANK_ACCOUNT_SAVED",
                      "BANK_ACCOUNT_REJECTED",
                      "ESIGN_DOCUMENT_UPLOADED",
                      "ESIGN_DOCUMENT_REJECTED",
                      "ESIGN_ENVELOPE_UPLOADED",
                      "ESIGN_ENVELOPE_REJECTED",
                      "ESIGN_ENVELOPE_SIGNED F2F_ACCEPTED",
                      "F2F_REJECTED",
                      "SCHUFA_IDENTCHECK_ACCEPTED",
                      "SCHUFA_IDENTCHECK_REJECTED",
                      "SCHUFA_BANKCHECK_ACCEPTED",
                      "SCHUFA_BANKCHECK_REJECTED"
                    ],
                    "example": "COMPLETE"
                  },
                  "event_description": {
                    "type": "string",
                    "nullable": true,
                    "description": "Additional commentary that we may add describing the cause of event",
                    "example": "F2F session could not be established due to bad connection"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server must return OK HTTP response if it accepts the webhook request. Any other response will trigger\nmultiple subsequent retries until receipt of a successful response.\n"
          }
        }
      }
    }
  }
}
